:root {
  --bg-dark: #1A2F3A;
}

@media (min-width: 2000px){
  h1 {
    color: blue;
  }
  }

  .container-fluid {
    background-color: var(--bg-dark);
    color: #FFF;
    border: 5px dotted blue;
    padding: 10px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

.btn-primary {
  background-color: red;
  border-color: red
}


/* container breakpoint */

  /* ≥578px */
.container-sm {
  border: 2px solid blue;
  background-color: var(--bg-dark);
  color: #FFF;
}

/* ≥768px */
.container-md {
  border: 2px solid crimson;
  background-color: var(--bg-dark);
  color: #FFF;
}

  /* ≥992px */
.container-lg {
  border: 2px solid chocolate;
  background-color: var(--bg-dark);
  color: #FFF;
}

  /* ≥1200px */
.container-xl {
  border: 2px solid green;
  background-color: var(--bg-dark);
  color: #FFF;
}

/* ≥1400px */
.container-xxl {
  border: 2px solid purple;
  background-color: var(--bg-dark);
  color: #FFF;
}


/* Grid */

/* <576px */
.container {
  background-color: var(--bg-dark);
  color: #FFF;
  border: 5px dotted blue;
  padding: 10px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.row {
  border: 5px solid purple;
  height: 100px;
  padding: 10px;
  margin: 0;
}



.col,
.col-1,
.col-3,
.col-4,
.col-6,
.col-11 {
  border: 2px dashed red;
  height: 100%;
  margin: 0;
}

#largura-limitada {
  max-width: 500px;
}

/* Alinhamento Vertical */

.vertical {
  height: 350px;
  border-color: coral;
}

.vertical .row {
  height: 100%;
}

.vertical .col-6,
.vertical .col-3,
.vertical .col-4 {
  height: 70px;
}

/* offset */
#offset {
  height: auto;
}

#offset .col-md-3 {
  height: 70px;
  border: 2px solid red;
}

div .col {
  padding: 10px;
  border: rgb(255, 255, 255) solid 2px;
  background-color: red;
}

div .par {
  background-color: blue;
}

